.hero {
  padding-top: 58px;
  /* position: relative; */
}

.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 145px 0 158px;
}

.hero__downbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
