.scroll-down__btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    font-weight: 600;
  }

  &:after {
    content: "";
    display: block;
    background: svg-load(
        "scroll-new.svg",
        fill=$text-color,
        width=100%,
        height=100%
      )
      center center no-repeat;
    width: 13.41px;
    height: 13.12px;
    margin-left: 15px;
  }
}
