.userinfo {
  display: flex;
  justify-content: center;
  text-align: left;
}

.userinfo__title {
  font-size: 18px;
  color: rgba($text-color, 0.5);
  font-weight: 600;
  margin-bottom: 20px;
  text-align: right;
  margin-bottom: 0;
  padding-top: 8px;
  margin-right: 5%;
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
  flex-basis: 400px;
}
