.userinfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.userinfo__title {
  font-size: 18px;
  color: rgba($text-color, 0.5);
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 24px;
  text-align: center;
  /* padding-top: 8px; */
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
}
