extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container
        header.header
          a.logo(href="#") ВА
          nav.menu
            - var menuItems = ["Обо мне", "Навыки", "Работы", "Отзывы"]
            ul.menu__list
              each item in menuItems
                li.menu__item
                  a(href="#") #{item}
          - var socials =["insta", "vk", "github", "envelope"]
          ul.socials
            each item in socials
              li.socials__item
                a(href="#").socials__link
                  +icon(item, "socials__icon")
        
        .userinfo
          .userinfo__title Личный сайт веб разработчика
          .userinfo__name Владимир Астахов

        .hero__bottom-buttons
          button.scroll-down-btn Скролл


  
